# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment variables and configuration files
*.env
config.json

# Logs
*.log

# Cache and temporary files
*.cache/
*.temp/
*.tmp/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
